.flex-container{

	display: flex;

}

*{
	font-family: 'Montserrat', sans-serif;
}


body{
	background-color: 
}

nav{
	background:#e74c3c;
    padding: 20px;
}

nav ul{
	list-style: none;
	overflow: hidden;
	flex-direction: row;
	justify-content: space-around;/*Esto es para darle espacio entremedio de la seccion a la barra de navegacion */
    
}

nav ul li a{
	text-decoration: none;
	cursor: pointer;
	color: whitesmoke;
	flex-grow: 1;
}

.flex-container li a:hover{
	background-color:#c0392b;
	padding: 40px;
}

i {
	margin-right: 10px;
}


.oculto{
	display: none;
}

.menu{
	display: none;
}

.oculto{
	display: inline;
}

.menu{
	background-color: #343130;
	width: 100px;
	margin: auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 550;
}

.menu a{
	color: whitesmoke;
	text-decoration: none;
	padding: 8px; 16px;
	border-right: 1px solid gray;
	border-bottom: 1px solid black;
	flex-grow: 1;
	cursor: pointer;
}

.menu a:hover{
	background-color: #26223d;
}

.oculto{
	display: none;
}

.flex-container a:hover{
	background-color: #303656;
	padding: 26px 25px;
}

.menu a{
	font-family: 'Montserrat', sans-serif;
	color: whitesmoke;
	display: block;
	padding: 15px 15px;
	border-color: whitesmoke;
	padding: 20px;
	flex:1;
	flex-direction: center;
}

